* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

input {
    width: 90%;
    margin: 15px;
}

#homeMenu {
    text-align: center;
    margin-top: 4rem;
}

#answerContainer {
    display: flexbox;
}

#weaknessContainer {
    display: none;
    text-align: center;
    margin-top: 5rem;
}

#type {
    width: 15%;
    padding: 25px;
    margin: auto;
    color: white;
}

#answerField {
    width: 40%;
    margin: 50px auto;
    border: 1px solid black;
}